USE [master]
GO
/****** Object:  Database [TeaManagerDb]    Script Date: 5/17/2026 5:43:44 PM ******/
CREATE DATABASE [TeaManagerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeaManagerDb', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TeaManagerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeaManagerDb_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TeaManagerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeaManagerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeaManagerDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/17/2026 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 5/17/2026 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [uniqueidentifier] NOT NULL,
	[BrandId] [int] NOT NULL,
	[BrandName] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[FoundedYear] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[BusinessRegNumber] [nvarchar](max) NOT NULL,
	[OwnerName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/17/2026 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[HarvestYear] [int] NOT NULL,
	[Origin] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BrandId] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierOrders]    Script Date: 5/17/2026 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierOrders](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierOrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SupplierOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/17/2026 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[SupplierName] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[ContactEmail] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260507170650_InitialMigration', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260509120948_SeedData', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260509122117_SeedSupplierOrders', N'10.0.5')
GO
INSERT [dbo].[Brands] ([Id], [BrandId], [BrandName], [Country], [FoundedYear], [Email], [Phone], [Address], [BusinessRegNumber], [OwnerName], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000001', 1, N'Lipston', N'United Kingdom', 1871, N'info@lipston.com', N'+44 5-1234-56344', N'Lipston House, 42-43 Park Street, London, UK', N'BRN123445', N'Jorge Russell', CAST(N'2024-12-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Brands] ([Id], [BrandId], [BrandName], [Country], [FoundedYear], [Email], [Phone], [Address], [BusinessRegNumber], [OwnerName], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000002', 2, N'TeaCoo', N'India', 1950, N'info@teacoo.com', N'+91 12-2234-56342', N'TeaCoo Plaza, 343 MG Road, Mumbai, India', N'BRN883456', N'Priya Sundar', CAST(N'2020-06-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Brands] ([Id], [BrandId], [BrandName], [Country], [FoundedYear], [Email], [Phone], [Address], [BusinessRegNumber], [OwnerName], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000003', 3, N'LaobanTea', N'China', 1855, N'info@LaobanTea.com', N'+86 18-7533-34256', N'LaobanTea Firm, 57 Tea Street, Pu''er City, Yunnan Province, China', N'BRN323595', N'Li Wei', CAST(N'2019-12-23T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Products] ([Id], [ProductId], [ProductName], [Description], [Price], [Stock], [HarvestYear], [Origin], [CreatedAt], [BrandId], [SupplierId]) VALUES (N'00000000-0000-0000-0000-000000000021', 1, N'Lipston Fresh Green Tea', N'A refreshing green tea with a crisp flavor and various health benefits.', CAST(18.59 AS Decimal(18, 2)), 100, 2022, N'Cornwell,United Kingdom', CAST(N'2022-12-10T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000001', N'00000000-0000-0000-0000-000000000011')
INSERT [dbo].[Products] ([Id], [ProductId], [ProductName], [Description], [Price], [Stock], [HarvestYear], [Origin], [CreatedAt], [BrandId], [SupplierId]) VALUES (N'00000000-0000-0000-0000-000000000022', 2, N'TeaCoo Assam Black Tea', N'A flavorful black tea from the Assam region of India.', CAST(20.88 AS Decimal(18, 2)), 80, 2020, N'Assam,India', CAST(N'2020-06-15T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000002', N'00000000-0000-0000-0000-000000000012')
INSERT [dbo].[Products] ([Id], [ProductId], [ProductName], [Description], [Price], [Stock], [HarvestYear], [Origin], [CreatedAt], [BrandId], [SupplierId]) VALUES (N'00000000-0000-0000-0000-000000000023', 3, N'LaobanTea Pu''erh Tea', N'A rich and earthy tea from the Yunnan province of China, famous for its unique fermentation process.', CAST(30.24 AS Decimal(18, 2)), 20, 2019, N'Yunnan,China', CAST(N'2019-12-23T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000003', N'00000000-0000-0000-0000-000000000013')
GO
INSERT [dbo].[SupplierOrders] ([Id], [SupplierOrderId], [Quantity], [OrderDate], [Remark], [CreatedAt], [SupplierId], [ProductId]) VALUES (N'00000000-0000-0000-0000-000000000031', 1, 100, CAST(N'2024-01-15T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-01-15T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000011', N'00000000-0000-0000-0000-000000000021')
INSERT [dbo].[SupplierOrders] ([Id], [SupplierOrderId], [Quantity], [OrderDate], [Remark], [CreatedAt], [SupplierId], [ProductId]) VALUES (N'00000000-0000-0000-0000-000000000032', 2, 80, CAST(N'2024-02-10T00:00:00.0000000' AS DateTime2), N'Quarterly restock', CAST(N'2024-02-10T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000012', N'00000000-0000-0000-0000-000000000022')
INSERT [dbo].[SupplierOrders] ([Id], [SupplierOrderId], [Quantity], [OrderDate], [Remark], [CreatedAt], [SupplierId], [ProductId]) VALUES (N'00000000-0000-0000-0000-000000000033', 3, 60, CAST(N'2024-03-05T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-03-05T00:00:00.0000000' AS DateTime2), N'00000000-0000-0000-0000-000000000013', N'00000000-0000-0000-0000-000000000023')
GO
INSERT [dbo].[Suppliers] ([Id], [SupplierId], [SupplierName], [Country], [ContactEmail], [Phone], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000011', 1, N'Lipston Supplier', N'United Kingdom', N'supply@lipston.com', N'+44 6-2346-83745', CAST(N'2024-12-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [SupplierId], [SupplierName], [Country], [ContactEmail], [Phone], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000012', 2, N'Kingstone Supplier', N'India', N'supply@kingstone.com', N'+91 12-3334-55384', CAST(N'2020-06-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [SupplierId], [SupplierName], [Country], [ContactEmail], [Phone], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000013', 3, N'LaobanTeaHub Supplier', N'China', N'supply@LaobanTeaHub.com', N'+86 18-7532-34253', CAST(N'2019-12-23T00:00:00.0000000' AS DateTime2))
GO
/****** Object:  Index [IX_Products_BrandId]    Script Date: 5/17/2026 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_SupplierId]    Script Date: 5/17/2026 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_SupplierId] ON [dbo].[Products]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierOrders_ProductId]    Script Date: 5/17/2026 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierOrders_ProductId] ON [dbo].[SupplierOrders]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierOrders_SupplierId]    Script Date: 5/17/2026 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierOrders_SupplierId] ON [dbo].[SupplierOrders]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[SupplierOrders]  WITH CHECK ADD  CONSTRAINT [FK_SupplierOrders_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SupplierOrders] CHECK CONSTRAINT [FK_SupplierOrders_Products_ProductId]
GO
ALTER TABLE [dbo].[SupplierOrders]  WITH CHECK ADD  CONSTRAINT [FK_SupplierOrders_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[SupplierOrders] CHECK CONSTRAINT [FK_SupplierOrders_Suppliers_SupplierId]
GO
USE [master]
GO
